body {
	font-family: Century Gothic;
	font-weight: 200;
	color: #36454F;
}
.nav {
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 99999;
}

a {
	color: #0163A2;
	text-decoration: none;
	background-color: transparent;
	font-weight: 500;
}
a:hover {
	opacity: 0.5;
}

.jumbotron {
	max-width: 100%;
	height: 620px; 
	background-image: url(topimage.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.jumbotron{
	padding: 0px;
}

.animated {
    transition : all 1s ease; 
  -webkit-transition : all 1s ease; 
  -moz-transition : all 1s ease;
  -o-transition : all 1s ease;    

}
.jumbotron .bg-overlay {
    background: rgba(0,0,0,0);
    position: relative;
    height: 100%;
    width: 100%;
}

.jumbotron:hover .bg-overlay {
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.toptext {
	margin-right:40px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 120px;
	color: white;
	padding-top: 140px;
}

.toptext h1 {
	font-size: 100px;
}

.toptext h3 {
    padding-top: 40px;
}

.formtext {
	color: white;
}
.btn {
	background-color: #62A3D5;
	border-color: transparent;
}

.btn:hover {
	background-color: #395680;
	border-color: transparent;
	cursor: pointer;
}

.our_work {
	margin-right:60px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.our_work h1{
	margin-bottom: 20px
}

.carousel-inner{
	position:relative;
	width: 100%;
	overflow: hidden;
	height: 620px;
}

.about_us {
	margin-right:60px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.about_us h1{
	margin-bottom: 20px
}

.rounded-circle:hover {
	opacity: 0.9;
}

#profile_button1 {
	color: #0163A2;
}

#profile_button1:hover {
	opacity:0.5;
	cursor: pointer;
	text-decoration: underline;
}

.first_profile {
	margin-right:10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#profile_button2 {
	color: #0163A2;
}

#profile_button2:hover {
	opacity: 0.5;
	cursor: pointer;
	text-decoration: underline;
}

.second_profile {
	margin-right:10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#profile_button3 {
	color: #0163A2;
}

#profile_button3:hover {
	opacity: 0.5;
	cursor: pointer;
	text-decoration: underline;
}

.third_profile {
	margin-right:10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.contact {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #F2F2E8;
}

.contact h1{
	margin-bottom: 20px
}
.contact p{
	margin-bottom: 40px
}

iframe {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;

}
.fa {
    padding: 40px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: right;
    color: #536872;

}
.fa:hover {
    opacity: 0.5;
}
p{
	margin-top: 20px;
}
