body {
	font-family: Century Gothic;
}
.nav {
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
}

.jumbotron {
	max-width: 100%;
	min-height: 620px; 
	background-image: url(topimage.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron{
	padding: 0px;
}

.animated {
    transition : all 1s ease; 
  -webkit-transition : all 1s ease; 
  -moz-transition : all 1s ease;
  -o-transition : all 1s ease;    

}
.jumbotron .bg-overlay {
    background: rgba(0,0,0,0);
    position: static;
    height: 100%;
    width: 100%;
    padding-bottom: 16.5%;
}
.jumbotron:hover .bg-overlay {
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.toptext {
	margin-right:40px;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 120px;
	color: white;
	padding-top: 115px;
}

.formtext {
	color: white;
}

.our_work {
	margin-right:20px;
	margin-left: 20px;
	margin-top: 80px;
	margin-bottom: 50px;
}


.about_us {
	margin-right:20px;
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.first_profile {
	margin-right:10px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.second_profile {
	margin-right:10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.third_profile {
	margin-right:20px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.carousel-inner {
	height: 600px;
	min-width: 100%;
	
}





