body {
	font-family: Century Gothic;
	font-weight: 200;
	color: #36454F;
}
.nav {
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 99999;
}

a {
	color: #0163A2;
	text-decoration: none;
	background-color: transparent;
	font-weight: 500;
}
a:hover {
	opacity: 0.5;
}

.inspiration{
	padding-top: 40px;
	background-color: #F2F2E8;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 30px;
}

h1 {
    margin-bottom: 20px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #F2F2E8;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
    border-radius: 45px;
    background-color: #536872;
    color: white;
}

button:hover {
	opacity: 0.7;
	cursor: pointer;
}

#panel {
    padding: 50px;
    display: none;
}

.footer {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.fa {
    padding: 40px;
    padding-bottom: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: right;
    color: #536872;

}
.fa:hover {
    opacity: 0.5;
}
p{
	margin-top: 20px;
}
