body {
	font-family: Century Gothic;
	font-weight: 200;
	color: #36454F;
}
.nav {
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 99999;
}

a {
	color: #536872;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	opacity: 0.5;
}

.inspiration{
	padding-top: 50px;
	background-color: #F2F2E8;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 30px;
}